:root {
  --white: #FFF;
  --black: #000;
  --grey: #808080;
  --blue: #2d9cdb;
  --green: #55ab68;
  --red: #ed4a3a;
  --orange: #f38713;
  --basicGrey: #e1e1e1;

  /* Font sizes */
  --fontMainHeading: 20px;
  --fontSubHeading: 16px;
  --fontBody: 14px;
}

input[type=number] {
  text-align:right;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

video { 
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.captured-image {
  text-align: center;
}

/* A solution for hidding the resize observer error as the app is not braking it's safe to hide it for now */
/* Please keep the commented code below until UI testing finishes and we are happy with the UI and responsive changes */
/* iframe#webpack-dev-server-client-overlay{display:none!important} */
